<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danjorn.views">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.danjorn.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.danjorn.core.navigation.RouteActivity"
             android:theme="@style/AppTheme.LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.danjorn.features.login.SignUpActivity" />
        <activity android:name="com.danjorn.features.chat.ChatListActivity" />
        <activity android:name="com.danjorn.ui.chatRoom.ChatRoomActivity" />
        <activity android:name="com.danjorn.features.login.SignInActivity" />
        <activity android:name="com.danjorn.ui.createChat.CreateChatActivity" />
        <activity android:name="com.danjorn.ui.availableChats.ChatListActivity" />
    </application>

</manifest>